<!DOCTYPE html>
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>
        Flask #2
    </title>
    <style>
        	.my_btn {
            background-color: skyblue;
            color: white;
            border: none;
            font-size: 30px;
            padding: 50px 50px;
            }
    </style>
</head>
<body>
    <form action=" " method="POST">
        <!-- <button type="submit", value="Button"> 페이지 넘기기 </button> -->
        <button type="submit", value="Button", class="btn btn-primary btn-lg">페이지 넘기기</button>
        <button type="submit", value="Button", class='my_btn'>페이지 넘기기2</button>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous">
</script>
</body>
</html>